.LoginComponentContainer {
  width: 800px;
  min-height: 600px;
  background-color: #3f5473;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.LoginComponentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #0c1420;
  color: white;
  width: 100%;
}

.LoginComponentTitle h4 {
  padding: 5px 10px;
}

.LoginComponentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}

.LoginComponentInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}

.LoginComponentInputContainer input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.LoginComponentInputContainer input:focus {
  border-color: #0070f3; /* Update to theme color */
}

.LoginComponentButton {
  width: 100%;
  padding: 10px;
  background-color: #0c1420; /* Update to theme color */
  color: #fecb7a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.LoginComponentButton:hover {
  background-color: #fecb7a; /* Update to theme color */
  color: #0c1420;
}
