.receiptContainer {
  height: 100%;
  width: 450px;
  background-color: #3f5473;
  border-top: 5px solid #fecb7a;
  margin: 10px 1px;
  min-height: 400px;
}

.receiptContainerMobile {
  width: 100%;
  background-color: #3f5473;
  border-top: 5px solid #fecb7a;
  margin: 10px 1px;
  min-height: 200px;
}

@media only screen and (max-width: 600px) {
  .receiptContainer {
    position: fixed;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    bottom: 20%;
    right: 20%;
    border: #fecb7a 3px solid;
    background-color: #3f5473;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    min-height: unset;
  }

  .receiptContainer h1 {
    color: #fecb7a;
  }
}

.receiptTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #0c1420;
  color: white;
  padding: 5px 10px;
}

.betContainer {
  padding: 5px 10px;
}

.betSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.betSummaryTotalNumberWin {
  color: #fecb7a;
  font-weight: 500;
  font-size: 12px;
}

.betSummaryTotal {
  color: white;
  font-weight: 100;
  font-size: 12px;
}

.mobileButton {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #fecb7a;
  font-size: 28px;
}

.betButtonContainer {
  padding: 5px 10px;
}

.betButton {
  text-decoration: none;
  background-color: transparent;
  border: none;
  background-color: #fecb7a;
  cursor: pointer;
  height: 30px;
  min-width: 100%;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
}

.betButton:hover {
  background-color: #f7b64e;
}

.betButton:active {
  transform: scale(0.97);
}

.betButton:disabled {
  background-color: #ffe6be;
  color: #3f5473;
  cursor: not-allowed;
}

.betContainer span {
  color: white;
  font-size: 14px;
  font-weight: 100;
}
